<h1>Hi I'm Nikki</h1>
<p>An aspiring full-stack web developer with an eye for design</p>
<p>I find inspiration in nature, bright lights, smiles and coffee.</p>
<p>When I'm not up to my elbows in studying code, I'm probably: knitting, reading, drinking herbal tea, or globe hopping with my brand new hubby.</p>
